<header class="p-3 bg-dark">
  <div class="container">
    <img src="../assets/tal.svg"/>
  </div>
</header>

<div class="container form-container">

  <h4>Monthly premium calcualtor</h4>

  <form #premiumCalculatorForm="ngForm"  class="mt-4" (ngSubmit)="calculate()">
    <!--Name-->
    <div class="mb-3 row">
      <label  class="col-sm-3 col-md-3 col-12 col-form-label">Name</label>
      <div class="col-sm-9 col-md-9 col-12">
        <input id="name" type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="premium.Name" pattern="[a-zA-Z ]*" [ngClass]="{ 'is-invalid': name.errors && (name.touched || submitted) }" autocomplete="off" #name="ngModel" required>
        <div *ngIf="name.invalid && (submitted || name.dirty || name.touched)" class="invalid-feedback ">
          <span *ngIf="name.errors?.required">Name is required.</span>
          <span *ngIf="!name.errors.required  && name.dirty">In valid name</span>
        </div>
      </div>
     
    </div>
    <!--Date of birth-->
    <div class="mb-3  row">
      <label  class="col-sm-3 col-md-3 col-form-label">Date of Birth</label>
      <div class="col-sm-9 col-md-9 col-12 calendar">
        <input type="text" class="form-control" id="dob" placeholder="DD/MM/YYYY" name="dob"
               [(ngModel)]="premium.DoB"  [maxDate]="maxDate" [minDate]="{year: 1753, month:1, day: 1}"
               [ngClass]="{ 'is-invalid': dob.errors && (dob.touched || submitted) }"
               ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" autocomplete="off"
               (change)="calculateAge()" (dateSelect)="calculateAge()" #dob="ngModel" required>
        <i class="bi bi-calendar-fill" (click)="d.toggle()" ></i>
        <div *ngIf="dob.invalid && (submitted || dob.dirty || dob.touched)" class="invalid-feedback " autocomplete="off" required>
          <span *ngIf="dob.errors?.required">Date of birth is required.</span>
          <span *ngIf="!dob.errors.required && dob.dirty">In valid date of birth</span>
        </div>
      </div>
    </div>

    <!--Age-->
    <div class="mb-3  row">
      <label class="col-sm-3 col-md-3 col-form-label">Age</label>
      <div class="col-sm-9 col-md-9 col-12">
        <input type="text" readonly class="form-control" id="age" placeholder="Age" [value]="premium.Age?.Year" name="age" autocomplete="off" >
      </div>
    </div>

    <!--Occupation-->
    <div class="mb-3  row">
      <label  class="col-sm-3 col-md-3 col-form-label">Occupation</label>
      <div class="col-sm-19 col-md-9 col-12">
        <select class="form-control" id="occupation" name="occupation" [(ngModel)]="premium.Occupation" [ngClass]="{ 'is-invalid': occupation.errors && (occupation.touched || submitted) }" autocomplete="off" #occupation="ngModel" required>
          <option [value]="occupation.Rating" [ngValue]="occupation" *ngFor="let occupation of occupationList">{{ occupation.Name }}</option>
        </select>
        <div *ngIf="occupation.invalid && (submitted || occupation.dirty || occupation.touched)" class="invalid-feedback">
          <span *ngIf="occupation.errors?.required"> Occupation is required.</span>
        </div>
      </div>
    </div>

    <!--Death-->
    <div class="mb-3  row">
      <label  class="col-sm-3 col-md-3 col-form-label">Death ($) </label>
      <div class="col-sm-9 col-md-9 col-12">
        <input type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" id="death" [(ngModel)]="premium.DeathCover"  placeholder="Death cover amount " name="deathCover" [ngClass]="{ 'is-invalid': deathCover.errors && (deathCover.touched || submitted) }" autocomplete="off" #deathCover = "ngModel" required>
        <div *ngIf="deathCover.invalid && (submitted || deathCover.dirty || deathCover.touched)" class="invalid-feedback ">
          <span *ngIf="deathCover.errors?.required">Death cover amount is required.</span>
          <span *ngIf="!deathCover.errors.required && deathCover.dirty">Death cover amount is in valid</span>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row-reverse ">
      <button type="submit" class="btn btn-primary">Calculate</button>
      <button type="button" class="btn" (click)="reset()">Reset</button>
    </div>
  </form>

</div>

<div class="container" *ngIf="premium?.DeathPremiumAmount != null">
  <h4>Calculated monthly premium</h4>
  <span> Your premium amount is <span class="fw-bold">{{premium.DeathPremiumAmount | currency}}</span></span>
</div>
